@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Contoso University</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to Contoso University</h2>
        <p>
            Contoso University is a wonderful place to learn from significant leaders in fields like: History, Psychology, Business, and Technology.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Build it from scratch</h2>
        <p>
            For those that are just starting at University we have many options to help you plan or discover the path you want to take. Students who know what degree they want can streamline their course loads with our recommended paths or customize from it and for the discoverers taking introductory courses in different fields can introduce you to your passion.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Continuing Education</h2>
        <p>We are passionate about learning, we want you to be passionate about your learning. We pride ourselves on an extensive list of courses for you to continue to learn.</p>
    </div>
</div>