/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.jumbotron {
    background-image: url('../images/gautam-krishnan-47gcgwuuhb0-unsplash.jpg');
    background-size: 100% auto;
    text-align: center;
    color: azure;
}

th, td {
    padding: 0 3px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

a.buttonStyle {
    padding: 3px 5px;
    margin-bottom: 0;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border-radius: 4px;
    color: black;
    text-decoration: none;
    border: 3px solid lightsteelblue;
    background-image: radial-gradient(ellipse, ButtonFace 40%, lightsteelblue);
    touch-action: manipulation;
    user-select: none
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
